<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{bullets}">

    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card-wrapper">
                <div class="card no-space-bottom">
                    <div class="card-body">
                        <dl class="ce-bullets">
                            <f:for each="{bullets}" as="definitionListItem">
                                <f:for each="{definitionListItem}" as="termDescription" iteration="termDescriptionIterator">
                                    <f:if condition="{termDescriptionIterator.isFirst}">
                                        <f:then>
                                            <dt>{termDescription}</dt>
                                        </f:then>
                                        <f:else>
                                            <dd {f:if(condition: '{termDescriptionIterator.isLast}', then: 'class="last-dd"')}>{termDescription}</dd>
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </f:for>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:if>
</html>
