<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Default">
    <section class="cookiebar fade" aria-label="Gestione dei cookies">
        <p>Questo sito utilizza cookie tecnici, analytics e di terze parti. <br />Proseguendo nella navigazione accetti l’utilizzo dei cookie.</p>
        <div class="cookiebar-buttons">
            <a href="#" class="cookiebar-btn">Preferenze<span class="visually-hidden">cookies</span></a>
            <button data-bs-accept="cookiebar" class="cookiebar-btn cookiebar-confirm">Accetto<span class="visually-hidden"> i cookies</span></button>
        </div>
    </section>
</f:section>