<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Main">
    <f:if condition="{mainnavigation}">
        <nav aria-label="Principale">
            <ul class="navbar-nav" data-element="main-navigation">
                <f:for each="{mainnavigation}" as="mainnavigationItem">
                    <f:if condition="{mainnavigationItem.spacer}">
                        <f:then>
                            <li class="h-divider"><span class="divider"></span></li>
                        </f:then>
                        <f:else>
                            <li class="nav-item{f:if(condition: mainnavigationItem.active, then: ' active')}">
                                <a class="nav-link {f:if(condition: mainnavigationItem.active, then: ' active')}" href="{mainnavigationItem.link}" aria-current="page" target="{mainnavigationItem.target}" {f:if(condition: mainnavigationItem.data.data_element, then: ' data-element="{mainnavigationItem.data.data_element}"')} data-focus-mouse="false">
                                <span><f:format.htmlentitiesDecode>{mainnavigationItem.title}</f:format.htmlentitiesDecode></span>
                                </a>
                            </li>
                        </f:else>
                    </f:if>
                </f:for>
            </ul>
        </nav>
    </f:if>
</f:section>
<f:section name="Secondary">
    <f:if condition="{secondarynavigation}">
        <nav aria-label="Secondaria">
            <ul class="navbar-nav navbar-secondary">
                <f:for each="{secondarynavigation}" as="secondarynavigationItem">
                    <li class="nav-item{f:if(condition: secondarynavigationItem.active, then: ' active')}">
                        <a class="nav-link{f:if(condition: secondarynavigationItem.active, then: ' active')}" href="{secondarynavigationItem.link}" title="{secondarynavigationItem.title}" target="{secondarynavigationItem.target}" {f:if(condition: secondarynavigationItem.data.data_element, then: ' data-element="{secondarynavigationItem.data.data_element}"')}><f:format.htmlentitiesDecode>{secondarynavigationItem.title}</f:format.htmlentitiesDecode></a>
                    </li>
                </f:for>
            </ul>
        </nav>
    </f:if>
</f:section>
<f:section name="SubNav">
    <f:if condition="{subnavigation}">
        <nav aria-label="Secondario">
            <ul class="navbar-nav" data-element="sub-navigation">
                <f:for each="{subnavigation}" as="subnavigationItem">
                    <f:if condition="{subnavigationItem.spacer}">
                        <f:then>
                            <li class="nav-item h-divider"></li>
                        </f:then>
                        <f:else>
                            <li class="nav-item{f:if(condition: subnavigationItem.children, then: ' dropdown')}">
                                <f:if condition="{subnavigationItem.children}">
                                    <f:then>
                                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="mainNavDropdown{subnavigationItem.data.uid}" {f:if(condition: subnavigationItem.data.data_element, then: ' data-element="{subnavigationItem.data.data_element}"')}">
                                            <span><f:format.htmlentitiesDecode>{subnavigationItem.title}</f:format.htmlentitiesDecode></span>
                                            <svg class="icon icon-xs">
                                                <use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-expand"></use>
                                            </svg>
                                        </a>
                                        <div class="dropdown-menu" role="region" aria-labelledby="mainNavDropdown{subnavigationItem.data.uid}">
                                            <div class="link-list-wrapper">
                                                <ul class="link-list">
                                                    <f:for each="{subnavigationItem.children}" as="subnavigationChild">
                                                        <f:if condition="{subnavigationChild.spacer}">
                                                            <f:then>
                                                                <li class="nav-item v-divider"></li>
                                                            </f:then>
                                                            <f:else>
                                                                <li><a class="dropdown-item list-item" href="{subnavigationChild.link}" title="subnavigationChild.title" {f:if(condition: subnavigationChild.data.data_element, then: ' data-element="{subnavigationChild.data.data_element}"')}"><span><f:format.htmlentitiesDecode>{subnavigationChild.title}</f:format.htmlentitiesDecode></span></a></li>
                                                            </f:else>
                                                        </f:if>
                                                    </f:for>
                                                </ul>
                                            </div>
                                        </div>
                                    </f:then>
                                    <f:else>
                                        <a class="nav-link {f:if(condition: subnavigationItem.active, then: 'active')}" href="{subnavigationItem.link}" target="{subnavigationItem.target}" title="{subnavigationItem.title}" {f:if(condition: subnavigationItem.data.data_element, then: ' data-element="{subnavigationItem.data.data_element}"')} data-focus-mouse="false">
                                        <span><f:format.htmlentitiesDecode>{subnavigationItem.title}</f:format.htmlentitiesDecode></span>
                                        </a>
                                    </f:else>
                                </f:if>
                            </li>
                        </f:else>
                    </f:if>
                </f:for>
            </ul>
        </nav>
    </f:if>
</f:section>
<f:section name="Breadcrumbs">
    <f:if condition="{breadcrumbs}">
        <div class="cmp-breadcrumbs" role="navigation">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb p-0" data-element="breadcrumb">
                    <f:for each="{breadcrumbs}" as="breadcrumb">
                        <f:if condition="{breadcrumb.current}">
                            <f:then>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <f:if condition="{data.backend_layout} == 'pagets__NewsDetail'">
                                        <f:then>
                                            <f:format.htmlentitiesDecode>{pageTitle}</f:format.htmlentitiesDecode>
                                        </f:then>
                                        <f:else>
                                            <f:format.htmlentitiesDecode>{breadcrumb.title}</f:format.htmlentitiesDecode><f:if condition="{breadcrumb.hasSubpages} > 0"><span class="separator">/</span></f:if>
                                        </f:else>
                                    </f:if>
                                </li>
                            </f:then>
                            <f:else>
                                <li class="breadcrumb-item"><a href="{breadcrumb.link}" title="{breadcrumb.title}" {f:if(condition: breadcrumb.data.data_element, then: ' data-element="{breadcrumb.data.data_element}"')}><f:format.htmlentitiesDecode>{breadcrumb.title}</f:format.htmlentitiesDecode></a><span class="separator">/</span></li>
                            </f:else>
                        </f:if>
                    </f:for>
                </ol>
            </nav>
        </div>
    </f:if>
</f:section>
<f:section name="Sidebar">
    <f:if condition="{sidebar}">
        <div class="sidebar-wrapper">
            <div class="sidebar-linklist-wrapper">
                <div class="link-list-wrapper">
                    <ul class="link-list">
                        <f:for each="{sidebar}" as="sidebarItem">
                            <f:if condition="{sidebarItem.spacer}">
                                <f:then>
                                    <li class="divider"></li>
                                </f:then>
                                <f:else>
                                    <li>
                                        <f:if condition="{sidebarItem.children}">
                                            <f:then>
                                                <a class="list-item large medium right-icon {f:if(condition: sidebarItem.active, then: 'active')}" href="#collapse{sidebarItem.data.uid}" data-bs-toggle="collapse" aria-expanded="{f:if(condition: sidebarItem.active, then: 'true', else: 'false')}" aria-controls="collapse{sidebarItem.data.uid}" data-focus-mouse="false">
                                                  <span class="list-item-title-icon-wrapper">
                                                    <span><f:format.htmlentitiesDecode>{sidebarItem.title}</f:format.htmlentitiesDecode></span>
                                                    <svg class="icon icon-sm icon-primary right" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-expand"></use></svg>
                                                  </span>
                                                </a>
                                                <ul class="link-sublist collapse {f:if(condition: sidebarItem.active, then: 'show')}" id="collapse{sidebarItem.data.uid}" style="">
                                                    <f:for each="{sidebarItem.children}" as="sidebarChild">
                                                        <li>
                                                            <a class="list-item {f:if(condition: sidebarChild.active, then: 'active')}" href="{sidebarChild.link}" target="{sidebarChild.target}" title="{sidebarChild.title}" {f:if(condition: sidebarChild.data.data_element, then: ' data-element="{sidebarChild.data.data_element}"')}><span><f:format.htmlentitiesDecode>{sidebarChild.title}</f:format.htmlentitiesDecode></span></a>
                                                        </li>
                                                    </f:for>
                                                </ul>
                                            </f:then>
                                            <f:else>
                                                <a class="list-item large medium {f:if(condition: sidebarItem.active, then: 'active')}" href="{sidebarItem.link}" target="{sidebarItem.target}" title="{sidebarItem.title}" {f:if(condition: sidebarItem.data.data_element, then: ' data-element="{sidebarItem.data.data_element}"')} data-focus-mouse="false">
                                                <span><f:format.htmlentitiesDecode>{sidebarItem.title}</f:format.htmlentitiesDecode></span>
                                                </a>
                                            </f:else>
                                        </f:if>
                                    </li>
                                </f:else>
                            </f:if>
                        </f:for>
                    </ul>
                </div>
            </div>
        </div>
    </f:if>
</f:section>
<f:section name="PageIndex">
    <f:if condition="{pageSectionIndex}">

        <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE DELLA PAGINA" data-bs-navscroll="">
            <div class="navbar-custom" id="navbarNavProgress">
                <div class="menu-wrapper">
                    <div class="link-list-wrapper">
                        <div class="accordion">
                            <div class="accordion-item">
                                  <span class="accordion-header" id="accordion-title-aside">
                                    <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one" data-focus-mouse="false">
                                      <f:format.case mode="upper">Indice della pagina</f:format.case>
                                      <svg class="icon icon-xs right">
                                        <use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-expand"></use>
                                      </svg>
                                    </button>
                                  </span>
                                <div class="progress">
                                    <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 84.4072%;"></div>
                                </div>
                                <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-aside" style="">
                                    <div class="accordion-body">
                                        <ul class="link-list" data-element="page-index">
                                            <f:for each="{pageSectionIndex}" as="menuItem">
                                                <f:if condition="{menuItem.data.header}">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#c{menuItem.data.uid}" title="{menuItem.data.header}">
                                                            <span class="title-medium">{menuItem.data.header}</span>
                                                        </a>
                                                    </li>
                                                </f:if>
                                            </f:for>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </f:if>
</f:section>
</html>