<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:b="http://typo3.org/ns/Aip/Bit3/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Default">

    <div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-aside">
        <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE DELLA PAGINA" data-bs-navscroll="">
            <div class="navbar-custom" id="navbarNavProgress">
                <div class="menu-wrapper">
                    <div class="link-list-wrapper">
                        <div class="accordion">
                            <div class="accordion-item">
                                <span class="accordion-header" id="accordion-title-one">
                                    <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-menu" aria-expanded="true" aria-controls="collapse-menu" data-focus-mouse="false">
                                      INDICE DELLA PAGINA
                                      <svg class="icon icon-xs right">
                                        <use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-expand"></use>
                                      </svg>
                                    </button>
                                </span>
                                <div class="progress">
                                    <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                                </div>
                                <div id="collapse-menu" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                                    <div class="accordion-body">
                                        <ul class="link-list" data-element="page-index">
                                            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.service.details.addressed')}">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#addressed">
                                                        <span class="title-medium">A chi è rivolto</span>
                                                    </a>
                                                </li>
                                            </f:if>
                                            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.service.details.description)}">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#description">
                                                        <span class="title-medium">Descrizione</span>
                                                    </a>
                                                </li>
                                            </f:if>
                                            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.service.details.howto')}">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#howto">
                                                        <span class="title-medium">Come fare</span>
                                                    </a>
                                                </li>
                                            </f:if>
                                            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.service.details.needed')}">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#needed">
                                                        <span class="title-medium">Cosa serve</span>
                                                    </a>
                                                </li>
                                            </f:if>
                                            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.service.details.achieved')}">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#achieved">
                                                        <span class="title-medium">Cosa si ottiene</span>
                                                    </a>
                                                </li>
                                            </f:if>
                                            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.service.details.calendartext')}">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#calendartext">
                                                        <span class="title-medium">Tempi e scadenze</span>
                                                    </a>
                                                </li>
                                            </f:if>
                                            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.service.details.costs')}">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#costs">
                                                        <span class="title-medium">Costi</span>
                                                    </a>
                                                </li>
                                            </f:if>
                                            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.service.details.bookingaccess')}">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#bookingaccess">
                                                        <span class="title-medium">Accedi al servizio</span>
                                                    </a>
                                                </li>
                                            </f:if>
                                            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.service.details.file')}">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#file">
                                                        <span class="title-medium">Condizioni di servizio</span>
                                                    </a>
                                                </li>
                                            </f:if>
                                            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.service.details.area')}">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#area">
                                                        <span class="title-medium">Contatti</span>
                                                    </a>
                                                </li>
                                            </f:if>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</f:section>
</html>