<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Argomento" />
<f:section name="Main">

    <f:render partial="Common/Hero" section="Argomento" arguments="{_all}" />

    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.main')}">
        <section id="novita">
            <div class="bg-grey-card py-5">
                <div class="container">
                    <div class="row pt-md-5 mt-md-5">
                        <div class="col-md-12">
                            <f:cObject typoscriptObjectPath="lib.content.main" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </f:if>

    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.column_left')}">
        <section id="amministrazione">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-12">
                        <f:cObject typoscriptObjectPath="lib.content.column_left" />
                    </div>
                </div>
            </div>
        </section>
    </f:if>

    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.column_right')}">
        <section id="servizi">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-12">
                        <f:cObject typoscriptObjectPath="lib.content.column_right" />
                    </div>
                </div>
            </div>
        </section>
    </f:if>

    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.bottom')}">
        <section id="documenti">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-12">
                        <f:cObject typoscriptObjectPath="lib.content.bottom" />
                    </div>
                </div>
            </div>
        </section>
    </f:if>

</f:section>
</html>
