<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:b="http://typo3.org/ns/Aip/Bit3/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Argomento" />
<f:section name="Main">

    <f:render partial="Common/Hero" section="Argomento" arguments="{_all}" />

    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.main')}">
        <section id="novita">
            <div class="bg-grey-card py-5">
                <div class="container">
                    <div class="row row-title pt-md-5">
                        <div class="col-12">
                            <h2 class="text-secondary border-bottom pb-2 pb-lg-3 mt-lg-5">Novità</h2>
                        </div>
                    </div>
                    <div class="row pt-4 mt-lg-2 pb-lg-4">
                        <div class="col-md-12">
                            <f:cObject typoscriptObjectPath="lib.content.main" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </f:if>

    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.column_left')}">
        <section id="amministrazione">
            <div class="container pb-5">
                <div class="row row-title">
                    <div class="col-12">
                        <h2 class="text-secondary border-bottom pb-2 pb-lg-3 mt-lg-5">Amministrazione</h2>
                    </div>
                </div>
                <div class="row pt-4 mt-lg-2 pb-lg-4">
                    <div class="col-md-12">
                        <f:cObject typoscriptObjectPath="lib.content.column_left" />
                    </div>
                </div>
            </div>
        </section>
    </f:if>

    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.column_right')}">
        <section id="servizi">
            <div class="container pb-5">
                <div class="row row-title">
                    <div class="col-12">
                        <h2 class="text-secondary border-bottom pb-2 pb-lg-3 mt-lg-5">Servizi</h2>
                    </div>
                </div>
                <div class="row pt-4 mt-lg-2 pb-lg-4">
                    <div class="col-md-12">
                        <f:cObject typoscriptObjectPath="lib.content.column_right" />
                    </div>
                </div>
            </div>
        </section>
    </f:if>

    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.bottom')}">
        <section id="documenti">
            <div class="container pb-5">
                <div class="row row-title">
                    <div class="col-12">
                        <h2 class="text-secondary border-bottom pb-2 pb-lg-3 mt-lg-5">Documenti</h2>
                    </div>
                </div>
                <div class="row pt-4 mt-lg-2 pb-lg-4">
                    <div class="col-md-12">
                        <f:cObject typoscriptObjectPath="lib.content.bottom" />
                    </div>
                </div>
            </div>
        </section>
    </f:if>

    <f:if condition="{data.categories} || {data.lastUpdated}">
        <section id="argomenti">
            <div class="container pb-5">
                <div class="row">
                    <div class="col-12 mb-30">
                        <f:render partial="Common/Categories" section="Default" arguments="{categories: data.categories, uid: data.uid, table : 'pages'}" />
                        <f:render partial="Common/LastUpdate" section="Default" arguments="{date : data.lastUpdated}" />
                    </div>
                </div>
            </div>
        </section>
    </f:if>

</f:section>
</html>
