<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{menu}">
        <f:if condition="{data.layout} == 110">
            <f:then>
                <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE DELLA PAGINA" data-bs-navscroll="">
                    <div class="navbar-custom" id="navbarNavProgress">
                        <div class="menu-wrapper">
                            <div class="link-list-wrapper">
                                <div class="accordion">
                                    <div class="accordion-item">
                                      <span class="accordion-header" id="accordion-title-aside">
                                        <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one" data-focus-mouse="false">
                                          <f:format.case mode="upper">{data.header}</f:format.case>
                                          <svg class="icon icon-xs right">
                                            <use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-expand"></use>
                                          </svg>
                                        </button>
                                      </span>
                                        <div class="progress">
                                            <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="84.40715337269341" aria-valuemin="0" aria-valuemax="100" style="width: 84.4072%;"></div>
                                        </div>
                                        <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-aside" style="">
                                            <div class="accordion-body">
                                                <f:for each="{menu}" as="page">
                                                    <f:if condition="{page.content}">
                                                        <ul class="link-list" data-element="page-index">
                                                            <f:for each="{page.content}" as="element">
                                                                <f:if condition="{element.data.header} ">
                                                                    <f:if condition="{element.data.colPos} == 0">
                                                                        <li class="nav-item">
                                                                            <a class="nav-link" href="#c{element.data.uid}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{element.data.header}">
                                                                                <span class="title-medium">{element.data.header}</span>
                                                                            </a>
                                                                        </li>
                                                                    </f:if>
                                                                </f:if>
                                                            </f:for>
                                                        </ul>
                                                    </f:if>
                                                </f:for>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

            </f:then>
            <f:else>

                <ul>
                    <f:for each="{menu}" as="page">
                        <li>
                            <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}">
                            <span>{page.title}</span>
                            </a>
                            <f:if condition="{page.content}">
                                <ul>
                                    <f:for each="{page.content}" as="element">
                                        <f:if condition="{element.data.header}">
                                            <li>
                                                <a href="{page.link}#c{element.data.uid}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{element.data.header}">
                                                <span>{element.data.header}</span>
                                                </a>
                                            </li>
                                        </f:if>
                                    </f:for>
                                </ul>
                            </f:if>
                        </li>
                    </f:for>
                </ul>

            </f:else>
        </f:if>
    </f:if>

</f:section>
</html>
