<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default" />
<f:section name="Content">
	<div class="site-configuration">
		<h1><f:translate key="bit3.module.cookies.title" /></h1>
		<div class="alert alert-info alert-dismissible fade show mt-2 mb-2" role="alert">
			<f:translate key="bit3.module.cookies.info" />
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<f:form action="salvaCookies" name="cookiesconf">
					<div class="card">
						<div class="card-header">
							<h2 class="card-title"><f:translate key="bit3.module.cookies.cookies" /></h2>
							<p><f:translate key="bit3.module.cookies.cookies.info" /></p>
						</div>
						<div class="card-body row">
							<div class="form-group col-sm-6">
								<label><f:translate key="bit3.module.cookies.cookies.profiling" /></label>
								<label class="form-check-label" for="cookies.profiling"><f:form.checkbox id="cookies.profiling" class="form-check-input" value="1" name="cookies.profiling" checked="{vettCookiesConf.cookies.profiling} == 1" /> <f:translate key="bit3.module.cookies.cookies.profiling.used" /></label>
							</div>
							<div class="form-group col-sm-6">
								<label for="cookies.webanalytics"><f:translate key="bit3.module.cookies.cookies.analytics" /></label>
								<f:form.select name="cookies.webanalytics" class="form-control">
									<f:if condition="{vettCookiesConf.cookies.webanalytics} == 1">
										<f:then>
											<f:form.select.option value="1" selected="true"><f:translate key="bit3.module.cookies.cookies.analytics.1" /></f:form.select.option>
										</f:then>
										<f:else>
											<f:form.select.option value="1"><f:translate key="bit3.module.cookies.cookies.analytics.1" /></f:form.select.option>
										</f:else>
									</f:if>
									<f:if condition="{vettCookiesConf.cookies.webanalytics} == 2">
										<f:then>
											<f:form.select.option value="2" selected="true"><f:translate key="bit3.module.cookies.cookies.analytics.2" /></f:form.select.option>
										</f:then>
										<f:else>
											<f:form.select.option value="2"><f:translate key="bit3.module.cookies.cookies.analytics.2" /></f:form.select.option>
										</f:else>
									</f:if>
									<f:if condition="{vettCookiesConf.cookies.webanalytics} == 3">
										<f:then>
											<f:form.select.option value="3" selected="true"><f:translate key="bit3.module.cookies.cookies.analytics.3" /></f:form.select.option>
										</f:then>
										<f:else>
											<f:form.select.option value="3"><f:translate key="bit3.module.cookies.cookies.analytics.3" /></f:form.select.option>
										</f:else>
									</f:if>
								</f:form.select>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<h2 class="card-title"><f:translate key="bit3.module.cookies.analytics" /></h2>
							<p><f:translate key="bit3.module.cookies.analytics.info" /></p>
						</div>
						<div class="card-body row">
							<div class="form-group col-sm-8">
								<label for="cookies.trackingurl"><f:translate key="bit3.module.cookies.cookies.trackingurl" /></label>
								<f:form.textfield name="cookies.trackingurl" value="{f:if(condition: '{vettCookiesConf.cookies.trackingurl}', then: '{vettCookiesConf.cookies.trackingurl}')}" class="form-control" placeholder="{costantsExtensionAnalytics.cookies.trackingurl}"/>
							</div>
							<div class="form-group col-sm-2">
								<label for="cookies.siteid"><f:translate key="bit3.module.cookies.cookies.siteid" /></label>
								<f:form.textfield name="cookies.siteid" value="{f:if(condition: '{vettCookiesConf.cookies.siteid}', then: '{vettCookiesConf.cookies.siteid}')}" class="form-control" placeholder="{costantsExtensionContatti.cookies.siteid}"/>
							</div>
							<div class="col-sm-12">
								<p class="lead mt-3"><f:translate key="bit3.module.cookies.analytics.example" /></p>
								<pre><code>
<f:format.htmlentities>
	<!-- Matomo -->
	<script>
		var _paq = window._paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="</f:format.htmlentities><b><f:format.htmlentities>[Tracking Url]</f:format.htmlentities></b><f:format.htmlentities>";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '</f:format.htmlentities><b><f:format.htmlentities>[SiteId]</f:format.htmlentities></b><f:format.htmlentities>']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.async=true; g.src='//cdn.matomo.cloud/archicoop.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->
</f:format.htmlentities>
								</code></pre>
							</div>
						</div>
						<div class="card-footer mt-3">
							<f:form.button class="btn btn-primary"><f:translate key="bit3.module.buttons.save" /></f:form.button>
						</div>
					</div>
				</f:form>
			</div>
		</div>
	</div>
</f:section>
