<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default" />
<f:section name="Content">
	<div class="site-configuration">
		<h1><f:translate key="bit3.module.social.title" /></h1>
		<div class="alert alert-info alert-dismissible fade show mt-2 mb-2" role="alert">
			<f:translate key="bit3.module.social.info" />
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<f:form action="salvaSocial" name="socialconf">
					<div class="card">
						<div class="card-body row">
							<div class="form-group col-sm-6">
								<label for="social.facebook.url"><f:translate key="bit3.module.social.facebook" /></label>
								<f:form.textfield name="social.facebook.url" value="{f:if(condition: '{vettSocialConf.social.facebook.url}', then: '{vettSocialConf.social.facebook.url}')}" class="form-control" placeholder="{costantsExtensionSocial.social.facebook.url}"/>
							</div>
							<div class="form-group col-sm-6">
								<label for="social.twitter.url"><f:translate key="bit3.module.social.twitter" /></label>
								<f:form.textfield name="social.twitter.url" value="{f:if(condition: '{vettSocialConf.social.twitter.url}', then: '{vettSocialConf.social.twitter.url}')}" class="form-control" placeholder="{costantsExtensionSocial.social.twitter.url}"/>
							</div>
							<div class="form-group col-sm-6">
								<label for="social.instagram.url"><f:translate key="bit3.module.social.instagram" /></label>
								<f:form.textfield name="social.instagram.url" value="{f:if(condition: '{vettSocialConf.social.instagram.url}', then: '{vettSocialConf.social.instagram.url}')}" class="form-control" placeholder="{costantsExtensionSocial.social.instagram.url}"/>
							</div>
							<div class="form-group col-sm-6">
								<label for="social.youtube.url"><f:translate key="bit3.module.social.youtube" /></label>
								<f:form.textfield name="social.youtube.url" value="{f:if(condition: '{vettSocialConf.social.youtube.url}', then: '{vettSocialConf.social.youtube.url}')}" class="form-control" placeholder="{costantsExtensionSocial.social.youtube.url}"/>
							</div>
							<div class="form-group col-sm-6">
								<label for="social.vimeo.url"><f:translate key="bit3.module.social.vimeo" /></label>
								<f:form.textfield name="social.vimeo.url" value="{f:if(condition: '{vettSocialConf.social.vimeo.url}', then: '{vettSocialConf.social.vimeo.url}')}" class="form-control" placeholder="{costantsExtensionSocial.social.vimeo.url}"/>
							</div>
							<div class="form-group col-sm-6">
								<label for="social.linkedin.url"><f:translate key="bit3.module.social.linkedin" /></label>
								<f:form.textfield name="social.linkedin.url" value="{f:if(condition: '{vettSocialConf.social.linkedin.url}', then: '{vettSocialConf.social.linkedin.url}')}" class="form-control" placeholder="{costantsExtensionSocial.social.linkedin.url}"/>
							</div>
							<div class="form-group col-sm-6">
								<label for="social.telegram.url"><f:translate key="bit3.module.social.telegram" /></label>
								<f:form.textfield name="social.telegram.url" value="{f:if(condition: '{vettSocialConf.social.telegram.url}', then: '{vettSocialConf.social.telegram.url}')}" class="form-control" placeholder="{costantsExtensionSocial.social.telegram.url}"/>
							</div>
							<div class="form-group col-sm-6">
								<label for="social.whatsapp.url"><f:translate key="bit3.module.social.whatsapp" /></label>
								<f:form.textfield name="social.whatsapp.url" value="{f:if(condition: '{vettSocialConf.social.whatsapp.url}', then: '{vettSocialConf.social.whatsapp.url}')}" class="form-control" placeholder="{costantsExtensionSocial.social.whatsapp.url}"/>
							</div>
							<div class="form-group col-sm-6">
								<label for="social.rss.url"><f:translate key="bit3.module.social.rss" /></label>
								<f:form.textfield name="social.rss.url" value="{f:if(condition: '{vettSocialConf.social.rss.url}', then: '{vettSocialConf.social.rss.url}')}" class="form-control" placeholder="{costantsExtensionSocial.social.rss.url}"/>
							</div>
						</div>
						<div class="card-footer mt-3">
							<f:form.button class="btn btn-primary"><f:translate key="bit3.module.buttons.save" /></f:form.button>
						</div>
					</div>
				</f:form>
			</div>
		</div>
	</div>
</f:section>
