<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Box">

    <f:if condition="{settings.pages.id_login}>0">
        <a class="btn btn-primary btn-icon btn-full" href="https://servizi.comune.bibbona.li.it/public/sitoistituzionale?client_code=A852&callback_url=https://comune.bibbona.li.it/&service_code=AREA_RISERVATA" data-element="personal-area-login" data-focus-mouse="false">
            <span class="rounded-icon" aria-hidden="true">
                <svg class="icon icon-primary">
                    <use xlink:href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-user"></use>
                </svg>
            </span>
            <span class="d-none d-lg-block">Vai all'area personale</span>
        </a>
    </f:if>

</f:section>