<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:b="http://typo3.org/ns/Aip/Bit3/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Default">

    <f:for each="{b:FileCategoriesOutput(recUid: fileReference.properties.uid_local, parentUid: fileReference.properties.uid_foreign)}" as="category" key="itemkey">
        {f:if(condition: '{itemkey} != 0', then: ' - ')}<a class="category text-decoration-none" id="cat-{category.uid}" data-focus-mouse="false">{category.title}</a>
    </f:for>

</f:section>