<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:switch expression="{extension}">
    <f:case value="pdf">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file-pdf-ext"></use></svg>
    </f:case>
    <f:case value="odt">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file-odt"></use></svg>
    </f:case>
    <f:case value="txt">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file-txt"></use></svg>
    </f:case>
    <f:case value="ods">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file-ods"></use></svg>
    </f:case>
    <f:case value="xml">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file-xml"></use></svg>
    </f:case>
    <f:case value="csv">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file-csv"></use></svg>
    </f:case>
    <f:case value="audio">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file-audio"></use></svg>
    </f:case>
    <f:case value="video">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file-video"></use></svg>
    </f:case>
    <f:case value="odp">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file-odp"></use></svg>
    </f:case>
    <f:case value="">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file-compressed"></use></svg>
    </f:case>
    <f:case value="">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file-sheet"></use></svg>
    </f:case>
    <f:case value="">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file-json"></use></svg>
    </f:case>
    <f:case value="jpg">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-camera"></use></svg>
    </f:case>
    <f:case value="png">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-camera"></use></svg>
    </f:case>
    <f:case value="gif">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-camera"></use></svg>
    </f:case>
    <f:case value="bmp">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-camera"></use></svg>
    </f:case>
    <f:case value="tiff">
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-camera"></use></svg>
    </f:case>
    <f:defaultCase>
        <svg class="icon" aria-hidden="true"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file"></use></svg>
    </f:defaultCase>
</f:switch>


</html>
