<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/DateMenu.html
-->

<f:section name="content">
	<div class="cmp-navscroll sticky-top">
		<nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE PER ANNI" data-bs-navscroll="">
			<div class="navbar-custom" id="navbarNavProgress">
				<div class="menu-wrapper">
					<div class="link-list-wrapper">
						<div class="accordion">
							<f:for each="{data.single}" key="year" as="monthsOfYear">
								<div class="accordion-item border-bottom">
								  <span class="accordion-header" id="accordion-title-{year}">
									<button class="accordion-button pb-10 px-3{f:if(condition: '{year}!={overwriteDemand.year}', then: ' collapsed')}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{year}" aria-expanded="false" aria-controls="collapse-{year}" data-focus-mouse="false">
									  ARCHIVIO DEL {year}
									  <svg class="icon icon-xs right">
										<use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-expand"></use>
									  </svg>
									</button>
								  </span>
									<div id="collapse-{year}" class="accordion-collapse collapse{f:if(condition: '{year}=={overwriteDemand.year}', then: ' show')}" role="region" aria-labelledby="accordion-title-{year}" style="">
										<div class="accordion-body">
											<ul class="link-list">
												<f:for each="{monthsOfYear}" key="month" as="count">
													<li class="nav-item">
														<f:if condition="{0:year, 1:month} == {0:overwriteDemand.year, 1:overwriteDemand.month}">
															<f:then>
																<f:variable name="addingClass"> active</f:variable>
															</f:then>
															<f:else>
																<f:variable name="addingClass"></f:variable>
															</f:else>
														</f:if>
														<f:link.action action="list" pageUid="{listPid}" arguments="{overwriteDemand:{year: year, month: month}}" class="nav-link{addingClass}">
															<span class="title-medium"><f:translate key="month.{month}" /> {year}</span>({count} <f:translate key="{f:if(condition: '{count} == 1', then: 'entry', else: 'entries')}" />)
														</f:link.action>
													</li>
												</f:for>
											</ul>
										</div>
									</div>
								</div>
							</f:for>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</f:section>

</html>
