<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
	  data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<f:section name="default">
	<div class="img-responsive-wrapper">
		<div class="img-responsive">
			<div class="img-wrapper">
				<n:renderMedia news="{newsItem}" imgClass="img-responsive" videoClass="video-wrapper" audioClass="audio-wrapper">
					<f:if condition="{newsItem.contentElements}">
						<f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
					</f:if>
					<f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}" />
				</n:renderMedia>
			</div>
		</div>
	</div>

	<div class="card-body">
		<div class="head-tags">
			<f:if condition="{newsItem.tags}">
				<span class="card-tag" itemprop="keywords">
					<f:for each="{newsItem.tags}" as="tag">
						{tag.title}
					</f:for>
				</span>
			</f:if>
			<span class="data">
				<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
					<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
					<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
				</time>
			</span>
		</div>
		<h3 class="card-title" itemprop="headline"><f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode></h3>
		<div class="card-text">
			<f:format.html>{newsItem.bodytext}</f:format.html>
			<f:if condition="{newsItem.categories}">
				<f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
			</f:if>
		</div>

	</div>

	<!-- related things -->
	<div class="news-related-wrap">

		<f:if condition="{newsItem.allRelatedSorted}">
			<div class="news-related news-related-news">
				<h4>
					<f:translate key="related-news" />
				</h4>
				<ul class="card-news-list">
					<f:for each="{newsItem.allRelatedSorted}" as="related">
						<li>
							<span class="news-related-news-date"><f:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</f:format.date></span>
							<n:link newsItem="{related}" settings="{settings}" title="{related.title}">
								<f:format.htmlentitiesDecode>{related.title}</f:format.htmlentitiesDecode>
							</n:link>
						</li>

					</f:for>
				</ul>
			</div>
		</f:if>

		<f:if condition="{newsItem.relatedFiles}">
			<!-- related files -->
			<div class="news-related news-related-files">
				<h4>
					<f:translate key="related-files" />
				</h4>
				<ul class="card-news-list">
					<f:for each="{newsItem.relatedFiles}" as="relatedFile">
						<li>
							<span class="news-related-files-link">
								<a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
									{f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
								</a>
							</span>
							<span class="news-related-files-size">
								{relatedFile.originalResource.size -> f:format.bytes()}
							</span>
						</li>
					</f:for>
				</ul>
			</div>
		</f:if>

		<f:if condition="{newsItem.relatedLinks}">
			<!-- Related links -->
			<div class="news-related news-related-links">
				<h4>
					<f:translate key="related-links" />
				</h4>
				<ul class="card-news-list">
					<f:for each="{newsItem.relatedLinks}" as="relatedLink">
						<li>
							<f:link.typolink parameter="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.typolink>
							<f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>
						</li>
					</f:for>
				</ul>
			</div>
		</f:if>
	</div>
	<div class="footer">
		<f:if condition="{settings.backPid}">
			<!-- Link Back -->
			<div class="news-backlink-wrap">
				<f:link.page pageUid="{settings.backPid}" class="scrollLink btn btn-sm btn-primary">
					<f:translate key="back-link" />
				</f:link.page>
			</div>
		</f:if>
	</div>
</f:section>

<f:section name="detailNews">

	<f:if condition="{newsItem.mediaNonPreviews}">
		<div class="container-fluid">
			<f:for each="{newsItem.mediaNonPreviews}" as="mediaElement">
				<div class="row">
					<figure class="figure px-0 img-full">
						<f:media file="{mediaElement}" class="img-fluid" alt="{mediaElement.alternative}" />
						<f:if condition="{mediaElement.description}">
							<figcaption class="figure-caption text-center pt-3">{mediaElement.description}</figcaption>
						</f:if>
					</figure>
				</div>
			</f:for>
		</div>
	</f:if>

	<div class="container">
		<div class="row border-top border-light row-column-menu-left py-5">
			<aside class="col-lg-3">
				<div class="cmp-navscroll sticky-top">
					<nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE DELLA PAGINA" data-bs-navscroll="">
						<div class="navbar-custom" id="navbarNavProgress">
							<div class="menu-wrapper">
								<div class="link-list-wrapper">
									<div class="accordion">
										<div class="accordion-item">
										  <span class="accordion-header" id="accordion-index-news">
											<button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-index-news" aria-expanded="true" aria-controls="collapse-index-news">
											  INDICE DELLA PAGINA
											  <svg class="icon icon-xs right">
												<use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-expand"></use>
											  </svg>
											</button>
										  </span>
											<div class="progress">
												<div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="61.9352467251391" aria-valuemin="0" aria-valuemax="100" style="width: 61.9352%;"></div>
											</div>
											<div id="collapse-index-news" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-index-news">
												<div class="accordion-body">
													<ul class="link-list" data-element="page-index">
														<f:if condition="{newsItem.bodytext}">
															<li class="nav-item">
																<a class="nav-link" href="#descrizione">
																	<span class="title-medium">Descrizione</span>
																</a>
															</li>
														</f:if>
														<f:if condition="{newsItem.location} || {newsItem.locationSimple}">
															<li class="nav-item">
																<a class="nav-link" href="#luogo">
																	<span class="title-medium">Luogo</span>
																</a>
															</li>
														</f:if>
														<f:if condition="{newsItem.isEvent} && {newsItem.datetime}">
															<li class="nav-item">
																<a class="nav-link" href="#date-e-orari">
																	<span class="title-medium">Date e orari</span>
																</a>
															</li>
														</f:if>
														<f:if condition="{newsItem.price}">
															<li class="nav-item">
																<a class="nav-link" href="#costi">
																	<span class="title-medium">Costi</span>
																</a>
															</li>
														</f:if>
														<f:if condition="{newsItem.contentElements}">
															<li class="nav-item">
																<a class="nav-link active" href="#a-cura-di">
																	<span class="title-medium">A cura di</span>
																</a>
															</li>
														</f:if>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</nav>
					<f:if condition="{newsItem.allRelatedSorted}">
						<nav class="navbar it-navscroll-wrapper navbar-expand-lg border-top" aria-label="NEWS CORRELATE">
							<div class="navbar-custom" id="navbarRelatedProgress">
								<div class="menu-wrapper">
									<div class="link-list-wrapper">
										<div class="accordion">
											<div class="accordion-item">
												  <span class="accordion-header" id="accordion-index-related">
													<button class="accordion-button pb-10 px-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-index-related" aria-expanded="false" aria-controls="collapse-index-related">
													  NEWS CORRELATE
													  <svg class="icon icon-xs right">
														<use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-expand"></use>
													  </svg>
													</button>
												  </span>
												<div id="collapse-index-related" class="accordion-collapse collapse" role="region" aria-labelledby="accordion-index-related">
													<div class="accordion-body">
														<ul class="link-list">
															<f:for each="{newsItem.allRelatedSorted}" as="related">
																<li class="nav-item">
																	<n:link newsItem="{related}" settings="{settings}" title="{related.title}" class="nav-link">
																		<span class="title-medium">
																			{related.title}
																		</span>
																	</n:link>
																</li>
															</f:for>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</nav>

					</f:if>

					<f:if condition="{newsItem.relatedFiles}">
						<nav class="navbar it-navscroll-wrapper navbar-expand-lg border-top" aria-label="FILE CORRELATI">
							<div class="navbar-custom" id="navbarFilesProgress">
								<div class="menu-wrapper">
									<div class="link-list-wrapper">
										<div class="accordion">
											<div class="accordion-item">
												  <span class="accordion-header" id="accordion-index-files">
													<button class="accordion-button pb-10 px-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-index-files" aria-expanded="false" aria-controls="collapse-index-files">
													  FILE CORRELATI
													  <svg class="icon icon-xs right">
														<use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-expand"></use>
													  </svg>
													</button>
												  </span>
												<div id="collapse-index-files" class="accordion-collapse collapse" role="region" aria-labelledby="accordion-index-files">
													<div class="accordion-body">
														<ul class="link-list">
															<f:for each="{newsItem.relatedFiles}" as="relatedFile">
																<li class="nav-item">
																	<a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" title="{f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}" class="nav-link" target="_blank">
																		<span class="title-medium">
																			{f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
																		</span>
																	</a>
																</li>
															</f:for>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</nav>
					</f:if>

					<f:if condition="{newsItem.relatedLinks}">
						<nav class="navbar it-navscroll-wrapper navbar-expand-lg border-top" aria-label="LINK CORRELATI">
							<div class="navbar-custom" id="navbarLinkProgress">
								<div class="menu-wrapper">
									<div class="link-list-wrapper">
										<div class="accordion">
											<div class="accordion-item">
												  <span class="accordion-header" id="accordion-index-links">
													<button class="accordion-button pb-10 px-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-index-links" aria-expanded="false" aria-controls="collapse-index-links">
													  LINK CORRELATI
													  <svg class="icon icon-xs right">
														<use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-expand"></use>
													  </svg>
													</button>
												  </span>
												<div id="collapse-index-links" class="accordion-collapse collapse" role="region" aria-labelledby="accordion-index-links">
													<div class="accordion-body">
														<ul class="link-list">
															<f:for each="{newsItem.relatedLinks}" as="relatedLink">
																<li class="nav-item">
																	<f:link.typolink parameter="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}" class="nav-link">
																		<span class="title-medium">
																			{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}
																		</span>
																	</f:link.typolink>
																</li>
															</f:for>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</nav>
					</f:if>

				</div>

				<div class="it-list-wrapper">
					<ul class="it-list">
						<f:if condition="{newsItem.author}">
							<li>
								<div class="list-item">
									<div class="it-right-zone">
											<span class="text">
											<f:if condition="{newsItem.authorEmail}">
												<f:then>
													A cura di <f:link.email email="{newsItem.authorEmail}"><i>{newsItem.author}</i></f:link.email>
												</f:then>
												<f:else>
													A cura di <i>{newsItem.author}</i>
												</f:else>
											</f:if>
											</span>
									</div>
								</div>
							</li>
						</f:if>
						<f:if condition="{newsItem.keywords}">
							<li>
								<div class="list-item">
									<div class="it-right-zone"><span class="text">keywords: <i>{newsItem.keywords}</i></span>
									</div>
								</div>
							</li>
						</f:if>
					</ul>
				</div>
			</aside>
			<section class="col-lg-9 it-page-sections-container border-light">
				<article id="descrizione" class="it-page-section anchor-offset" data-audio="">
					<h2 class="mb-3">Descrizione</h2>
					<f:format.html>{newsItem.bodytext}</f:format.html>
				</article>

				<f:if condition="{newsItem.location} || {newsItem.locationSimple}">
					<article id="luogo" class="it-page-section mb-5">
						<h2 class="mb-3">Luogo</h2>
						<div class="card-wrapper card-teaser-wrapper">
							<div class="card card-teaser shadow mt-3 rounded">
								<svg class="icon" aria-hidden="true">
									<use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-pin"></use>
								</svg>
								<div class="card-body">
									<h3 class="card-title h5">
										<f:if condition="{newsItem.location}">
											<f:then>
												<f:if condition="{newsItem.location.link}">
													<f:then>
														<f:link.typolink parameter="{newsItem.location.link}" class="text-decoration-none" additionalAttributes="{data-focus-mouse:'false'}">
															{newsItem.location.title}
														</f:link.typolink>
													</f:then>
													<f:else>
														{newsItem.location.title}
													</f:else>
												</f:if>
											</f:then>
											<f:else>
												{newsItem.locationSimple}
											</f:else>
										</f:if>
									</h3>
									<f:if condition="{newsItem.location.description}">
										<div class="card-text">
											<p>{newsItem.location.description}</p>
										</div>
									</f:if>
								</div>
							</div>
						</div>

						<f:if condition="{newsItem.location.lat} && {newsItem.location.lng}">
							<f:variable name="latStart" value="{newsItem.location.lat - 0.00092}" />
							<f:variable name="latEnd" value="{newsItem.location.lat + 0.00092}" />
							<f:variable name="lngStart" value="{newsItem.location.lng - 0.00222}" />
							<f:variable name="lngEnd" value="{newsItem.location.lng + 0.00222}" />
							<iframe width="100%" height="430" style="border:0;" src="https://www.openstreetmap.org/export/embed.html?bbox={lngStart}%2C{latStart}%2C{lngEnd}%2C{latEnd}&amp;layer=mapnik&marker={newsItem.location.lat}%2C{newsItem.location.lng}" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/{newsItem.location.lat}/{newsItem.location.lng}" target="_blank">Vedi a tutto schermo</a></small>
						</f:if>

					</article>
				</f:if>

				<f:if condition="{newsItem.isEvent} && {newsItem.datetime}">
					<article id="date-e-orari" class="it-page-section mb-5">
						<h2 class="mb-3">Date e orari</h2>
						<div class="point-list-wrapper my-4">
							<div class="point-list">
								<h3 class="point-list-aside point-list-primary fw-normal">
									<span class="point-date font-monospace"><f:format.date format="d">{newsItem.datetime}</f:format.date></span>
									<span class="point-month font-monospace"><f:format.date format="%B">{newsItem.datetime}</f:format.date></span>
								</h3>
								<div class="point-list-content">
									<div class="card card-teaser shadow rounded">
										<div class="card-body">
											<h3 class="card-title h5 m-0">
												<f:format.date format="H:i">{newsItem.datetime}</f:format.date> - Inizio evento
											</h3>
										</div>
									</div>
								</div>
							</div>
							<f:if condition="{newsItem.eventEnd}">
								<div class="point-list">
									<h3 class="point-list-aside point-list-primary fw-normal">
										<div class="point-date font-monospace"><f:format.date format="d">{newsItem.eventEnd}</f:format.date></div>
										<div class="point-month font-monospace"><f:format.date format="%B">{newsItem.eventEnd}</f:format.date></div>
									</h3>
									<div class="point-list-content">
										<div class="card card-teaser shadow rounded">
											<div class="card-body">
												<h3 class="card-title h5 m-0">
													<f:format.date format="H:i">{newsItem.eventEnd}</f:format.date> - Fine evento
												</h3>
											</div>
										</div>
									</div>
								</div>
							</f:if>
						</div>
					</article>
				</f:if>

				<f:if condition="{newsItem.price}">
					<article id="costi" class="it-page-section mb-5">
						<h2 class="mb-3">Costi</h2>
						<div class="card no-after border-start mt-3">
							<div class="card-body">
								<f:format.html>{newsItem.price}</f:format.html>
							</div>
						</div>
					</article>
				</f:if>

				<f:if condition="{newsItem.contentElements}">
					<article id="a-cura-di" class="it-page-section anchor-offset mt-5">
						<h2 class="mb-3">A cura di</h2>
						<div class="row">
							<div class="col-12">
								<f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
							</div>
						</div>
					</article>
				</f:if>

				<article id="ultimo-aggiornamento" class="anchor-offset mt-5">
					<h4 class="h6">Ultimo aggiornamento: <span class="h6 fw-normal"><f:format.date format="d/m/Y, H:i">{newsItem.datetime}</f:format.date></span></h4>
				</article>
			</section>
		</div>
	</div>

</f:section>

<f:section name="nonews">
	no news
</f:section>

</html>