<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="General" />
<!--
	=====================
		Templates/Category/List.html
-->

<f:section name="content">
	<f:if condition="{categories}">
		<f:then>
			<f:if condition="{settings.templateLayout} == 6">
				<f:then>
					<f:render section="categoryBoxes" arguments="{categories:categories,overwriteDemand:overwriteDemand}" />
				</f:then>
				<f:else>
					<f:render section="categoryTree" arguments="{categories:categories,overwriteDemand:overwriteDemand}" />
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<div class="Callout Callout--must u-text-r-xs" role="note">
				<h2 class="Callout-title u-text-r-l"><f:translate key="list_nocategoriesfound" /></h2>
 			</div>
		</f:else>
	</f:if>
</f:section>

<f:section name="categoryBoxes">
	<div class="row g-4">
		<f:for each="{categories}" as="category">
			<div class="col-md-6 col-xl-4">
				<div class="cmp-card-simple card-wrapper pb-0 rounded border border-light">
					<div class="card shadow-sm rounded">
						<div class="card-body">
							<f:link.page title="{category.item.title}" class="text-decoration-none" pageUid="{category.item.shortcut}" additionalParams="{tx_news_pi1:{overwriteDemand:{categories: category.item.uid}}}" additionalAttributes="{data-element: 'news-category-link', data-focus-mouse: 'false'}">
								<h3 class="card-title title-xlarge">{category.item.title}</h3>
							</f:link.page>
							<p class="titillium text-paragraph mb-0">{category.item.description}</p>
						</div>
					</div>
				</div>
			</div>
		</f:for>
	</div>
</f:section>

<f:section name="categoryTree">
	<br><br>
	<ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
		<f:for each="{categories}" as="category">
				<f:if condition="{category.item.uid} == {overwriteDemand.categories}">
					<f:then>
			<li class="u-color-50 menu-act">
						<f:link.page title="{category.item.title}" class="Linklist-link Linklist-link--lev1" pageUid="{settings.listPid}"
							additionalParams="{tx_news_pi1:{overwriteDemand:{categories: category.item.uid}}}">{category.item.title}
						</f:link.page>
					</f:then>
					<f:else>
			<li class="u-color-50">
						<f:link.page title="{category.item.title}" class="Linklist-link" pageUid="{settings.listPid}"
							additionalParams="{tx_news_pi1:{overwriteDemand:{categories: category.item.uid}}}">{category.item.title}
						</f:link.page>
					</f:else>
				</f:if>

				<f:if condition="{category.children}">
					<f:render section="categoryTree" arguments="{categories: category.children,overwriteDemand:overwriteDemand}" />
				</f:if>
			</li>
		</f:for>
	</ul>
</f:section>
</html>