<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="extra">

	<!-- category -->
	<f:if condition="{newsItem.firstCategory}">
		<f:if condition="{newsItem.firstCategory.shortcut}">
			<f:then>
				<f:link.page pageUid="{newsItem.firstCategory.shortcut}" class="category text-decoration-none">{newsItem.firstCategory.title}</f:link.page>
			</f:then>
			<f:else>
				<a class="category text-decoration-none">{newsItem.firstCategory.title}</a>
			</f:else>
		</f:if>
	</f:if>

	<!-- date -->
	<span class="data">
		<f:if condition="{newsItem.eventEnd}">
			<f:then>
				DAL <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}"><f:format.date format="%d %b">{newsItem.datetime}</f:format.date></time> AL <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}"><f:format.date format="%d %b %Y">{newsItem.eventEnd}</f:format.date></time>
			</f:then>
			<f:else>
				<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
					<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
				</time>
			</f:else>
		</f:if>
	</span>

</div>
</html>
