<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:b="http://typo3.org/ns/Aip/Bit3/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="Default">

    <div class="row g-4">
        <f:for each="{menu}" as="page">
            <div class="col-lg-6 col-xl-4">
                <div class="card-wrapper border border-light rounded shadow-sm">
                    <div class="card no-after rounded">
                        <f:if condition="{page.files.0}">
                            <div class="img-responsive-wrapper">
                                <div class="img-responsive img-responsive-panoramic">
                                    <figure class="img-wrapper">
                                        <f:media file="{page.files.0}" />
                                    </figure>
                                </div>
                            </div>
                        </f:if>
                        <div class="card-body">
                            <f:variable name="EsisteCategoriaDocumenti" value="0" />
                            <f:for each="{b:CategoriesOutput(recUid: page.data.uid, tableName: 'pages')}" as="category" iteration="iterator">
                                <f:if condition="{category.parent} == {settings.categories.id_document}">
                                    <f:variable name="EsisteCategoriaDocumenti" value="1" />
                                </f:if>
                            </f:for>
                            <div class="{f:if(condition: '{EsisteCategoriaDocumenti}', then: 'categoryicon-top', else: 'category-top')}">
                                <f:if condition="{page.data.categories} > 0">
                                    <span class="visually-hidden">Categoria</span>
                                    <f:if condition="{settings.categories.id_document}">
                                        <f:then>
                                            <f:if condition="{EsisteCategoriaDocumenti}">
                                                <f:then>
                                                    <f:render section="CatecoriesDocsCycle" arguments="{page: page}" />
                                                </f:then>
                                                <f:else>
                                                    <f:render section="AllCategoriesCycle" arguments="{page: page}" />
                                                </f:else>
                                            </f:if>
                                        </f:then>
                                        <f:else>
                                            <f:render section="AllCategoriesCycle" arguments="{page: page}" />
                                        </f:else>
                                    </f:if>
                                </f:if>
                            </div>
                            <h3 class="card-title"><a href="{page.link}" class="text-decoration-none" title="{page.title}" {f:if(condition: data_element, then: ' data-element="{data_element}"')} {f:if(condition: page.target, then: ' target="{page.target}"')}>{page.title}</a></h3>
                            <p class="text-secondary mb-0">
                                <f:if condition="{page.data.abstract}">
                                    <f:then>
                                        {page.data.abstract}
                                    </f:then>
                                    <f:else>
                                        {page.data.subtitle}
                                    </f:else>
                                </f:if>
                            </p>
                            <f:if condition="{data_element}==''">
                                <div class="mt-5">
                                    <a class="read-more t-primary text-uppercase" href="{page.link}" aria-label="Leggi di più su {page.title}" {f:if(condition: data_element, then: ' data-element="{data_element}"')}>
                                    <span class="text">Leggi di più</span>
                                    <span class="visually-hidden">Leggi di più su {page.title}</span>
                                    <svg class="icon icon-inverse icon-xs ml-10">
                                        <use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-arrow-right"></use>
                                    </svg>
                                    </a>
                                </div>
                            </f:if>
                        </div>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</f:section>

<f:section name="CatecoriesDocsCycle">
    <f:variable name="moreThanOne" value="0" />
    <f:for each="{b:CategoriesOutput(recUid: page.data.uid, tableName: 'pages')}" as="category" iteration="iterator">
        <f:if condition="{category.parent} == {settings.categories.id_document}">
            <f:if condition="{moreThanOne}">
                <f:then> - </f:then>
                <f:else><svg class="icon"><use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-file"></use></svg><f:variable name="moreThanOne" value="1" /></f:else>
            </f:if>
            <f:if condition="{category.shortcut}">
                <f:then>
                    <f:link.page pageUid="{category.shortcut}" id="cat-{category.uid}" class="text fw-semibold">{category.title}</f:link.page>
                </f:then>
                <f:else>
                    <span class="text fw-semibold">{category.title}</span>
                </f:else>
            </f:if>
        </f:if>
    </f:for>
</f:section>

<f:section name="AllCategoriesCycle">
    <f:for each="{b:CategoriesOutput(recUid: page.data.uid, tableName: 'pages')}" as="category" iteration="iterator">
        <f:if condition="{iterator.index}>0"> - </f:if>
        <f:if condition="{category.shortcut}">
            <f:then>
                <f:link.page pageUid="{category.shortcut}" id="cat-{category.uid}" class="title-xsmall-semi-bold fw-semibold text-decoration-none">{category.title}</f:link.page>
            </f:then>
            <f:else>
                <span class="title-xsmall-semi-bold fw-semibold text-decoration-none">{category.title}</span>
            </f:else>
        </f:if>
    </f:for>
</f:section>