<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="Default">
    <f:if condition="{header}">
        <h2 class="title-xsmall-semi-bold"><span>{header}</span></h2>
    </f:if>
    <ul class="link-list t-primary">
        <f:for each="{menu}" as="page">
            <li class="mb-3 mt-3">
                <a href="{page.link}" class="list-item ps-0 title-medium"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}" {f:if(condition: data_element, then: ' data-element="{data_element}"')}>
                <span>{page.title}</span>
                </a>
            </li>
        </f:for>
    </ul>
</f:section>
