<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="Default">
    <div class="sitemap">
        <nav class="primaryNavH">
            <ul class="sitemap-subpages-horizontal">
                <li id="home"><a href="/">Home</a></li>
                <f:for each="{menu}" as="page">
                    <li>
                        <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}">
                        <span>{page.title}</span>
                        </a>
                        <f:render section="Menu" arguments="{menu: page.children}" />
                    </li>
                </f:for>
            </ul>
        </nav>
    </div>
</f:section>

<f:section name="Menu">
    <f:if condition="{menu}">
        <ul>
            <f:for each="{menu}" as="page">
                <li>
                    <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}">
                    <span>{page.title}</span>
                    </a>
                    <f:render section="Menu" arguments="{menu: page.children}" />
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>