{namespace vh=In2code\Powermail\ViewHelpers}

<div class="form-group">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<f:form.textarea
			cols="20"
			rows="5"
			id="powermail_field_{field.marker}"
			property="{field.marker}"
			placeholder="{field.placeholder}"
			value="{vh:Misc.PrefillField(field:field, mail:mail)}"
			additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
			class="{vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}" />
</div>