<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item-Archive.html
-->
<div class="col-md-6 col-xl-4">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
	<div class="card-wrapper border border-light rounded shadow-sm cmp-list-card-img cmp-list-card-img-hr">
		<div class="card no-after rounded">
			<div class="row g-2 g-md-0 flex-md-column">
				<div class="col-4 order-2 order-md-1">
					<f:if condition="{newsItem.mediaPreviews}">
						<!-- media preview element -->
						<f:then>
							<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
								<f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
									<f:if condition="{mediaElement.originalResource.type} == 2">
										<f:image image="{mediaElement}" class="rounded-top img-fluid img-responsive" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="443" height="245"/>
									</f:if>
									<f:if condition="{mediaElement.originalResource.type} == 4">
										<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
									</f:if>
									<f:if condition="{mediaElement.originalResource.type} == 5">
										<f:image image="{mediaElement}" class="rounded-top img-fluid img-responsive" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
									</f:if>
								</f:alias>
							</n:link>
						</f:then>
						<f:else>
							<f:if condition="{settings.displayDummyIfNoMedia}">
									<span class="no-media-element">
										<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
											<f:image src="{settings.list.media.dummyImage}" class="rounded-top img-fluid img-responsive" title="" alt="" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
										</n:link>
									</span>
							</f:if>
						</f:else>
					</f:if>
				</div>
				<div class="col-8 order-1 order-md-2">
					<div class="card-body">
						<div class="category-top cmp-list-card-img__body">
							<span class="data">
								<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'d-m-Y')}">
									<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
								</time>
							</span>
						</div>
						<n:link class="text-decoration-none" data="{data-element: 'news-category-link'}" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
							<h3 class="h5 card-title">
								{newsItem.title}
							</h3>
						</n:link>
						<p class="card-text d-none d-md-block">
							<n:removeMediaTags>
								<f:if condition="{newsItem.teaser}">
									<f:then>
										{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.raw()}
									</f:then>
									<f:else>
										{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.stripTags()}
									</f:else>
								</f:if>
							</n:removeMediaTags>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>