<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers"
      xmlns:bi="http://typo3.org/ns/Aip/Bit3/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Timeline" />

<f:section name="Main">

    <f:switch expression="{data.layout}">
        <f:case value="101">
            <div class="calendar-vertical mb-3" data-element="service-calendar-list">
                <f:for each="{records}" as="record" iteration="iteration">
                    <div class="calendar-date">
                        <h3 class="calendar-date-day">
                            <f:if condition="{record.data.date}>0">
                                <f:then>
                                    <small class="calendar-date-day__year"><f:format.date format="Y">{record.data.date}</f:format.date></small>
                                    <span class="title-xxlarge-regular d-flex justify-content-center"><f:format.date format="d">{record.data.date}</f:format.date></span>
                                    <small class="calendar-date-day__month"><f:format.date format="M">{record.data.date}</f:format.date></small>
                                </f:then>
                                <f:else>
                                    <f:if condition="{record.data.durata}>0">
                                        <span class="title-xxlarge-regular d-flex justify-content-center">{record.data.durata}</span>
                                        <small class="calendar-date-day__month">{record.data.unitaditempo}</small>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </h3>
                        <div class="calendar-date-description rounded">
                            <div class="calendar-date-description-content">
                                <f:if condition="{record.data.link} != ''">
                                    <f:then>
                                        <f:link.typolink parameter="{record.data.link}" class="read-more">
                                            <h4 class="h5 mb-0">{record.data.header}</h4>
                                        </f:link.typolink>
                                    </f:then>
                                    <f:else>
                                        <h4 class="h5 mb-0">{record.data.header}</h4>
                                    </f:else>
                                </f:if>
                                <f:format.html>{record.data.bodytext}</f:format.html>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
        </f:case>
        <f:defaultCase>
            <f:variable name="lastmonth"></f:variable>
            <div class="it-timeline-wrapper">
                <div class="row">
                    <f:for each="{records}" as="record" iteration="iteration">
                        <div class="col-12">
                            <div class="timeline-element">
                                <f:if condition="{lastmonth} != {f:format.date(format: '%B %Y', date: '{record.data.date}')}">
                                    <f:variable name="lastmonth">{f:format.date(format: '%B %Y', date: '{record.data.date}')}</f:variable>
                                    <div class="it-pin-wrapper it-evidence">
                                        <div class="pin-icon">
                                            <svg class="icon">
                                                <use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-code-circle"></use>
                                            </svg>
                                        </div>
                                        <div class="pin-text"><span>{lastmonth}</span></div>
                                    </div>
                                </f:if>
                                <div class="card-wrapper">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="category-top">
                                                <f:if condition="{record.data.categories}>0">
                                                    <f:then>
                                                        <f:for each="{bi:CategoriesOutput(recUid: record.data.uid, tableName:'tx_bit3_timeline_item')}" as="category" iteration="iterator">
                                                            <f:if condition="{iterator.index}>0">
                                                                ,
                                                            </f:if>
                                                            <b>{category.title}</b>
                                                        </f:for>
                                                        <span class="data"><f:format.date format="d/m/Y">{record.data.date}</f:format.date></span>
                                                    </f:then>
                                                    <f:else>
                                                        <f:format.date format="d/m/Y">{record.data.date}</f:format.date>
                                                    </f:else>
                                                </f:if>
                                            </div>
                                            <h5 class="card-title">{record.data.header}</h5>
                                            <f:format.html>{record.data.bodytext}</f:format.html>
                                            <f:if condition="{record.data.link} != ''">
                                                <f:link.typolink parameter="{record.data.link}" class="read-more">
                                                    <span class="text">Leggi di più</span>
                                                    <svg class="icon">
                                                        <use href="/typo3conf/ext/bit3/Resources/Public/Icons/sprites.svg#it-arrow-right"></use>
                                                    </svg>
                                                </f:link.typolink>
                                            </f:if>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </f:for>
                </div>
            </div>
        </f:defaultCase>
    </f:switch>


</f:section>

</html>