<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Default">

    <f:if condition="{heroimage.0}">
        <section class="hero-img {f:if(condition: '{heroimage.0.properties.description}', then: 'mb-20 mb-lg-50')}">
            <section class="it-hero-wrapper it-hero-small-size cmp-hero-img-small">
                <div class="img-responsive-wrapper">
                    <div class="img-responsive">
                        <div class="img-wrapper">
                            <f:media class="img-fluid" file="{heroimage.0}" />
                        </div>
                    </div>
                </div>
            </section>
            <f:if condition="{heroimage.0.properties.description}">
                <p class="title-xsmall cmp-hero-img-small__description">{heroimage.0.properties.description}</p>
            </f:if>
        </section>
    </f:if>

</f:section>

<f:section name="Argomento">
    <div class="it-hero-wrapper it-wrapped-container" id="main-container">

        <f:if condition="{heroimage.0}">
            <div class="img-responsive-wrapper">
                <div class="img-responsive">
                    <div class="img-wrapper">
                        <f:media class="img-fluid" file="{heroimage.0}" />
                    </div>
                </div>
            </div>
        </f:if>

        <div class="container">
            <div class="row">
                <div class="col-12 drop-shadow">
                    <div class="it-hero-card it-hero-bottom-overlapping rounded px-lg-5 py-4 py-lg-5">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <f:render partial="Menu/Menu" section="Breadcrumbs" arguments="{_all}" />
                            </div>
                        </div>
                        <div class="row justify-content-between mt-lg-2">
                            <div class="col-12 col-lg-5 pl-lg-5">
                                <h1 class="mb-3">{pageTitle}</h1>
                                <h2 class="visually-hidden" id="news-details">Dettagli dell'argomento</h2>
                                <f:if condition="{pageSubTitle}">
                                    <p class="text-secondary mb-5">
                                        {pageSubTitle}
                                    </p>
                                </f:if>
                            </div>

                            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.content.top')}">
                                <div class="col-12 col-lg-5">
                                    <div class="card-wrapper card-column">
                                        <h3 class="title-xsmall-semi-bold text-secondary">Questo argomento è gestito da:</h3>
                                        <f:cObject typoscriptObjectPath="lib.content.top" />
                                    </div>
                                </div>
                            </f:if>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>